*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
body{
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    
}
#card{
    height: 400px;
    width:300px;
    background-color: white;
    border-radius: 10px;
    padding:30px;
    
}
#card-img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
#card h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin:10px;
}
#card h5{
    margin: 5px;
    font-size: 25px;
    color:red;
    font-family: monospace;
}
#card .btn-add{
   padding:10px;
    margin:10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
#rmv-btn{
    background-color: gainsboro;
    color:black;
    font-weight: 100;
}
#add-btn{
    background-color: cadetblue;
    color:white;
}